html, body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: rgb(187, 235, 252)!important;
}


/* General setup */

nav {
  display: flex;
  align-content: center;
  color: white;
  padding: 20px 50px 0 50px;
  font-size: 25px;
  font-weight: 600;
}

.sub-menu {
  background-color: transparent;
  border: none;
  color: black;
  margin: 0;
  padding: 0;
}

.sub-menu:hover {
  color: black;
  text-decoration: none;
}

.horizontally-align-right {
  display: flex;
  justify-content: flex-end;
}

h1 {
  color: rgb(24, 24, 89);
  font-size: 40px;
  width: 280px;
  margin: 20px;
}

h3 {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.no-style-link {
  text-decoration: none;
  color: white;
}

.no-style-link:hover {
  text-decoration: none;
  color: white;
}

/* Buttons */

.newTreasure-btn {
  margin: auto;
  text-align: center;
  background: rgb(211, 211, 211, 0.5);
  color: white;
  padding: 20px;
  border-radius: 20px;
  -webkit-transition: background-color 4s ease-out;
  -moz-transition: background-color 4s ease-out;
  -o-transition: background-color 4s ease-out;
}

.newTreasure-btn:hover {
  background-color: rgba(75, 148, 136, 0.5);
  text-decoration: none;
  color: white;
}

.geo-btn {
  background-color: rgb(24, 24, 89);
  color: white;
  border: none;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  z-index: 2;
  font-size: 20px;
  width: 100px;
  box-shadow: 1px 1px 5px 1px rgb(53, 49, 49);
}

.form-btn {
  background-color: rgb(24, 24, 89);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 7px 30px;
}

.geo-btn:hover {
  color: white;
  background-color: rgb(26, 26, 124);
}

.geo-btn:focus {
  outline: 0;
}

.centered-btn {
  margin: 3px auto;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.finding-location {
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Flex and responsive boxes) */

.wrap-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1000px;
}

.vertically-align {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.horizontally-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  margin: 20px auto;
  align-content: center;
  width: 350px;
  background-color: white;
  height: 550px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px rgb(218, 218, 218);
  text-align: center;
}

.register-input {
  margin: 10px auto;
  padding: 7px;
  font-size: 14px;
  width: 200px;
  border: solid 1px rgb(172, 171, 171);
  border-radius: 20px;
  text-align: center;
}

.input-group {
  margin: 80px auto;
}

/* Background */

.gradient-background {
  background: rgb(86, 122, 255);
  background: linear-gradient(18deg, rgba(199, 86, 255, 0.945) 29%, rgb(116, 176, 175) 55%, rgb(103, 224, 245) 100%);
  height: 500px;
}

.empty-triangle {
  position: relative;
  top: -230px;
  border-top: 230px solid transparent;
  border-right: 1500px solid rgb(187, 235, 252);
}

/*Round transparent map*/

.round-map {
  position: relative;
  z-index: 2;
  opacity: 0.6;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: solid 3px rgb(255, 255, 255);
  margin: 20px;
}

/* Avatars */

.avatar {
  width: 80px;
  z-index: 2;
}

.avatar-card {
  display: flex;
  justify-content: center;
  z-index: 2;
  background: rgba(232, 232, 232, 0.4);
  margin: 10px;
  border: solid 1px white;
  border-radius: 20px;
  padding: 20px;
  width: 110px;
  height: auto;
}

.avatar-card:hover {
  box-shadow: 1px 1px 20px 1px white;
  background-color: rgba(254, 254, 254, 0.4);
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-text {
  padding: 0 20px;
  font-size: 15px;
}

.avatar-talk {
  width: 60px;
  margin: 10px auto;

}

/* Map */

.map-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#map {
  display: flex;
  margin: 40px auto;
  border: solid 10px rgb(255, 255, 255);
  width: 100%;
  height: 580px;
  z-index: 2;
}

.stone-popUp {
  width: 40px;
  border-radius: 100%;
}
