html, body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #c4dfff!important;
}

/* General setup */

.nav-element-padding {
  color: white;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: 600;
}

h1 {
  color: rgb(24, 24, 89);
  font-size: 40px;
  width: 280px;
  margin: 20px;
}

h3 {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.no-style-link {
  text-decoration: none;
  color: white;
}

.no-style-link:hover {
  text-decoration: none;
  color: white;
}

.btn-success {
  background: rgba(255, 255, 255, 0.2)!important;
  border-color: transparent!important;
  transition: background-color 2s ease-out!important;
}

.sub-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  color: white!important;
}

.dropdown-menu {
  background-color: rgba(157, 184, 207, 0.9)!important;
  text-align: center!important;
  top: 110%!important;
  padding: 1.5rem!important;
  border: transparent!important;
  left: -80%!important;
}

.btn-success:hover {
  background-color: rgba(49, 130, 133, 0.5)!important;
}

.btn-success:focus {
  box-shadow: none!important;
}

.on-top {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

/* Buttons */

.geo-btn {
  background-color: rgb(24, 24, 89);
  color: white;
  border: none;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  z-index: 2;
  font-size: 20px;
  width: 100px;
  box-shadow: 1px 1px 5px 1px rgb(53, 49, 49);
}

.transparent-btn {
  background: rgb(139, 165, 187);
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 50px;
  margin-top: 5px;
  transition: background-color 2s ease-out;
}

.transparent-btn:hover {
  background-color: rgba(49, 130, 133, 1)
}

.form-btn {
  background-color: rgb(24, 24, 89);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 7px 30px;
  box-shadow: 1px 1px 5px 1px rgb(149, 154, 158);
  display: flex;
  align-content: center;
  text-decoration: none;
}

.form-btn:hover {
  background: rgb(77, 77, 134);
  transition: background-color 0.2s ease-out;
}

.other-color {
  background-color: rgb(126, 126, 126);
}

.geo-btn:hover {
  color: white;
  background-color: rgb(26, 26, 124);
}

.geo-btn:focus {
  outline: 0;
}

.centered-btn {
  margin: 3px auto;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.finding-location {
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Flex and responsive boxes) */

.wrap-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1000px;
}

.vertically-align {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 10px;
}

.horizontally-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  margin: 20px auto;
  align-content: center;
  width: 350px;
  background-color: white;
  height: 550px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px rgb(218, 218, 218);
  text-align: center;
}

.register-input {
  margin: 10px auto;
  padding: 7px;
  font-size: 14px;
  width: 200px;
  border: solid 1px rgb(172, 171, 171);
  border-radius: 20px;
  text-align: center;
}

.input-group {
  margin: 80px auto;
}

.hint-input {
  font-size: 14px;
  padding: 5px;
}

/* Background */

.gradient-background {
  background: rgb(86, 122, 255);
  background: linear-gradient(18deg, rgba(255, 254, 222, 0.945) 29%, rgb(163, 209, 240) 55%, rgb(93, 118, 138) 100%);
  height: 500px;
}

.empty-triangle {
  position: relative;
  top: -230px;
  border-top: 230px solid transparent;
  border-right: 1500px solid #c4dfff;
}

/*Round transparent map*/

.round-map {
  position: relative;
  z-index: 2;
  opacity: 0.6;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: solid 3px rgb(255, 255, 255);
  margin: 0px;
}

/* Avatars */

.avatar {
  width: 80px;
  height: 115px;
  z-index: 2;
}

.speech-balloon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: 280px;
  width: 250px;
  height: 130px;
  margin: 30px 10px;
  border: solid 10px white;
  background-color: #c4dfff;
}

.avatar-card {
  display: flex;
  justify-content: center;
  z-index: 2;
  background: rgba(232, 232, 232, 0.4);
  margin: 10px;
  border: solid 1px white;
  border-radius: 20px;
  padding: 20px;
  width: 120px;
  height: auto;
}

.avatar-card:hover {
  box-shadow: 1px 1px 20px 1px white;
  background-color: rgba(254, 254, 254, 0.4);
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-text {
  padding: 0 20px;
  font-size: 15px;
}

.avatar-talk {
  width: 60px;
  margin: 10px auto;
  z-index: 3;
}

/* Map */

.top-map {
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 55px;
}

.map-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#map {
  display: flex;
  border: solid 10px rgb(255, 255, 255);
  width: 100%;
  height: 580px;
  z-index: 2;
}

.stone-popUp {
  width: 40px;
  border-radius: 100%;
}

/*Error*/

.neutral-background {
  position: relative;
  background: rgb(170, 196, 222);
  background: linear-gradient(180deg, rgba(170, 196, 222, 1) 0%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 100%);
  z-index: 2;
  height: 350px;
  width: 350px;
  text-align: center;
  padding: 20px;
  border-radius: 100%;
  margin: 70px auto;
}

.centered-text {
  padding: 70px 20px;
}

/* Profile */

.thunder {
  width: 30px;
}

.bubble {
  position: relative;
  z-index: 2;
  background: rgb(170, 196, 222);
  background: linear-gradient(180deg, rgba(170, 196, 222, 1) 0%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 100%);
  height: 300px;
  width: 300px;
  border-radius: 100%;
  text-align: center;
  padding: 20px;
}

.profileContent {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  z-index: 2;
}

/* Treasure detail */
.about-treasure {
   width: 200px;
   border-radius: 100%;
   margin: auto;
   border: solid 2px white;
}

/* About */

.about-photo {
  width: 150px;
  height: 160px;
  z-index: 2;
  position: relative;
  border-radius: 100%;
  margin: 0 20px 20px 20px;
  border: solid 2px white;
}

.double-pic {
  display: flex;
  justify-content: center;
  margin: auto;
}

.paragraph {
  margin: auto;
  padding: 20px 50px;
  text-align: justify;
  max-width: 800px;
  background: rgb(170, 196, 222);
  background: linear-gradient(180deg, rgba(170, 196, 222, 1) 0%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 100%);
  border-radius: 10px;
}

.names {
  margin: auto;
  text-align: right;
  padding: 20px 50px;
  background-color: white;
  max-width: 800px;
  font-weight: bold;
}